{% extends "base.html" %}

{% block customcss %}
	<link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Computer Models</h1>
      <p>Computer models are programs written to simulate real world systems based on our understanding of the physical laws that govern them. These laws are expressed as mathematical equations which, given the required inputs, can be solved to produce an approximation of some other state of the system in the form of output variable values.</p>
      <p>
      <p>Here you can learn more about the computational modelling that goes into our understanding of past, present and future sea level rise. This section also discusses the input requirements for  each model. Click below to learn how these models work together to help us predict sea level.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
  </div>
<div class="container">
	<div class="card">
		<div class="card-header">
			<h1 class="card-title">Sea Level Model</h1>
		</div>
		<div class="container inputs">
			<div class="row">
			  <div class="col-lg">
			    <img src="{{ url_for('static', filename='img/icemassdist.png') }}" class="rounded-circle" width="200" height="200" preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
			    <h2>Ice Distribution</h2>
			    <p>Ice-sheets that existed thousands of years ago covered a far greater area and were much thicker than those found today. When calculating changes in sea level it is important to understand how the shape and thickness of past ice-sheets changed with time.</p>
			    <p><a class="btn btn-secondary" href="{{ url_for('ice') }}" role="button">Learn More</a></p>
			  </div><!-- /.col-lg-4 -->
			  <div class="col-lg">
			    <img src="{{ url_for('static', filename='img/geometry.png') }}" class="rounded-circle" width="200" height="200" preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
			    <h2>Earth Geometry</h2>
			    <p>Changes in the geometry of the Earth's surface can cause some ocean basins to become deeper and others to become shallower in addition to changing the shape of the ocean itself. Understanding why and how this geometry changes through time is a key component of sea level modelling.</p>
			    <p><a class="btn btn-secondary" href="{{ url_for('geometry') }}" role="button">Learn More</a></p>
			  </div><!-- /.col-lg-4 -->
			  <div class="col-lg">
			    <img src="{{ url_for('static', filename='img/rheology.png') }}" class="rounded-circle" width="200" height="200" preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
			    <h2>Earth Rheology</h2>
			    <p>While it may seem solid to us, whether the Earth is in fact a solid object or a viscous liquid is all down to the time scale that it is viewed from. Understanding the rheology of the Earth helps us to predict how it will deform over tens of thousands of years.</p>
			    <p><a class="btn btn-secondary" href="{{ url_for('rheology') }}" role="button">Learn More</a></p>
			  </div><!-- /.col-lg-4 -->
			</div>
		</div>
	</div>
	<br>
	<div class="card">
		<div class="card-header">
			<h1 class="card-title">Ice-Sheet Model</h1>
		</div>
		<div class="card-body">
			<p class="card-text">Ice-sheet models are able to simulate physical properties of ice-sheets by applying physical laws to </p>
		</div>
		<div class="container inputs">
			<div class="row">
			  <div class="col-lg">
			    <img src="{{ url_for('static', filename='img/icemassdist.png') }}" class="rounded-circle" width="200" height="200" preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
			    <h2>Ice-Sheet Margins</h2>
			    <p>Ice-sheets that existed thousands of years ago covered a far greater area and were much thicker than those found today. When calculating changes in sea level it is important to understand how the shape and thickness of past ice-sheets changed with time.</p>
			    <p><a class="btn btn-secondary" href="{{ url_for('ice') }}" role="button">Learn More</a></p>
			  </div><!-- /.col-lg-4 -->
			  <div class="col-lg">
			    <img src="{{ url_for('static', filename='img/geometry.png') }}" class="rounded-circle" width="200" height="200" preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
			    <h2>Topography</h2>
			    <p>Changes in the geometry of the Earth's surface can cause some ocean basins to become deeper and others to become shallower in addition to changing the shape of the ocean itself. Understanding why and how this geometry changes through time is a key component of sea level modelling.</p>
			    <p><a class="btn btn-secondary" href="{{ url_for('geometry') }}" role="button">Learn More</a></p>
			  </div><!-- /.col-lg-4 -->
			  <div class="col-lg">
			    <img src="{{ url_for('static', filename='img/rheology.png') }}" class="rounded-circle" width="200" height="200" preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
			    <h2>Shear Stress Map</h2>
			    <p>While it may seem solid to us, whether the Earth is in fact a solid object or a viscous liquid is all down to the time scale that it is viewed from. Understanding the rheology of the Earth helps us to predict how it will deform over tens of thousands of years.</p>
			    <p><a class="btn btn-secondary" href="{{ url_for('rheology') }}" role="button">Learn More</a></p>
			  </div><!-- /.col-lg-4 -->
			</div>
		</div>
	</div>
</div>
{% endblock %}